.text-muted {
    display: flex;
    justify-content: center;
    background-color: black;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
   .footername {
    font-family: 'Heebo', sans-serif;
    display: flex;
    justify-content: center; 
    background-color: black;
   
   }

.sup {
    display: flex;
    font-size: 40%;
    top: -1.2em;
    justify-content: center;
    background-color: black;
}

  

  


  

  

  
 
  

  
 