@media only screen and (max-width: 600px) {
  .mainpage {
    height: 110px;
}

.title1 {
    font-family: 'Heebo', sans-serif;
    font-size: 15vw;
    text-align: center;
    color: whitesmoke;
    height: 10px;
    padding: 100px;
  
}

.description {
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    text-align: center;
    color: black;
    padding: 120px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
.titleprojects {
  font-family: 'Heebo', sans-serif;
  text-align: center;
  background: black;
  color: whitesmoke
}


.bike {
  height: 255px;
  width: 31.11vw;
}
.beer {
  height: 255px;
  width: 31.11vw;
}
.boxer {
  height: 255px;
  width: 31.11vw;
}
.bikeshop {
  font-family: 'Heebo', sans-serif;
  background: black;
  text-align: center;
  color: whitesmoke;
}
.brew {
  font-family: 'Heebo', sans-serif;
  background: black;
  text-align: center;
  color: whitesmoke;
}
.punch {
  font-family: 'Heebo', sans-serif;
  background: black;
  text-align: center;
  color: whitesmoke;
}

}
